<div style="text-align:center">
  <!-- Add image banner -->
</div>
<sui-tabset>
    <div class="ui top attached tabular menu">
        <a class="item" suiTabHeader="1">Home - Página de inicio</a>
        <a class="item" suiTabHeader="2">Planning - Plan de Viaje</a>
        <a class="item" suiTabHeader="3">Third</a>
    </div>
      <div class="ui bottom attached segment" suiTabContent="1">
      <h1 class="ui header">Welcome to Travel Spain ! - ¡Bienvenido a Travel Spain!</h1>
      <h2 class="ui header">What we Do... - Que hacemos...</h2>

      <div class="ui segment">
        <div class="ui two column very relaxed grid">
          <div class="column">
            <p>Lorem ipsum dolor sit amet, ea nonumy doctus ius. Elitr facilisi
               adolescens nec in. Id eos quidam veritus deterruisset.
                Te enim viderer cum, cum volumus lobortis an.
            </p>
            <p>Et nam virtute omnesque, est ne utinam mandamus. Habeo aliquid
               ea sea, ex reque consul pri, quis porro omnes eum in. Ad
               habemus propriae disputationi sit. Nec duis dicta ne, ex nulla
               corpora mediocrem vim. Eam melius placerat interpretaris ne.
               Pro doctus epicuri in. No sea dico tollit, suas utroque
                pertinax no vix.
            </p>
            <p>Cu sit stet brute causae, mei ferri noster id, vero delenit mel
               cu. Erat primis placerat vim ad, utroque alienum imperdiet cu
                quo. Pri ea falli choro putent, per iisque aperiri legendos
                no. Ad nihil nominavi per. Has cu assum ubique,
                 brute nonumes sea ea.
            </p>
          </div>
        <div class="column">
          <p>Altera commune at vel, no nec eligendi repudiare constituam. Mei
             at solum regione persequeris. Ex purto magna dissentiunt est, no
              regione aperiam periculis has, eum oblique intellegam no. Quo ne
               essent delenit convenire, ad mei partem phaedrum deseruisse,
               animal erroribus nec ei. Ad nobis vocent volumus duo, no has
                dicam appetere, his an principes percipitur.
          </p>
          <p>Sed tota inani facete no. Utroque invidunt ea eos, usu bonorum
             vivendum ad. Corrumpit constituto ei duo. An eos erant latine.
              Mei nostro erroribus in.
          </p>
          <p>Illud debitis nam cu, duo in tamquam tibique epicurei, ignota
             efficiendi per id. In sonet virtute has, ea sint dicta sed.
             Scripta suscipit vix te, euripidis cotidieque vix ei.
              Sed paulo graeci indoctum ut.
          </p>
        </div>
        </div>
        <div class="ui vertical divider">
          <i class="spain flag"></i>
        </div>
      </div>

    </div>
    <div class="ui bottom attached segment" suiTabContent="2">

      <h1 class="ui header">Planning Stage! - ¡Bienvenido a Travel Spain!</h1>
      <h2 class="ui header">How to Begin? - Como empezar?</h2>

      <!-- Tells them how to interact with the map -->
      <div class="ui segment">
        <div class="ui two column very relaxed grid">
          <div class="column">
            <p>Lorem ipsum dolor sit amet, ea nonumy doctus ius. Elitr facilisi
               adolescens nec in. Id eos quidam veritus deterruisset.
                Te enim viderer cum, cum volumus lobortis an.
            </p>
          </div>
        <div class="column">
          <p>Sed tota inani facete no. Utroque invidunt ea eos, usu bonorum
             vivendum ad. Corrumpit constituto ei duo. An eos erant latine.
              Mei nostro erroribus in.
          </p>
        </div>
        </div>
        <div class="ui vertical divider">
          <i class="spain flag"></i>
        </div>
      </div>

      <div>
        <!-- Depending on the button this will be sent to the angular querry that will talk to the express back end -->
        <div class="ui seven item menu">
          <a class="item">Trip 1</a>
          <a class="item">Trip 2</a>
          <a class="item">Trip 3</a>
          <a class="item">Trip 4</a>
          <a class="item">Trip 5</a>
          <a class="item">Clear</a>
          <a class="item">Create Custom Trip</a>
        </div>
      </div>
    </div>

    <!-- Basic Modal allows them to create a combination of four cities -->
    <div class="ui modal">
      <div class="header">Create Custom Trip</div>
      <div class="ui 4 item menu">
        <a class="item">City 1</a>
        <a class="item">City 2</a>
        <a class="item">City 3</a>
        <a class="item">City 4</a>
      </div>
      <div class="image content">
        <img class="image">
        <div class="description">
          <p></p>
        </div>
      </div>
    </div>

    <!-- Either print the icon or save it as a pdfs -->
    <i class="print icon"></i>
    <i class="file pdf icon"></i>
    <div class="ui bottom attached segment" suiTabContent="3">Third Page</div>


</sui-tabset>
