<div style="text-align:center">
  <div class="container">
    <img src={{background_img}} alt="Barcelona Skyline" style="width:100%;">
    <div class="bottom-left">
      Spain App
    </div>
  </div>
</div>
<sui-tabset>
    <div class="ui top attached tabular menu">
        <a class="item" suiTabHeader="1">Home - Página de inicio</a>
        <a class="item" suiTabHeader="2">Planning - Plan de Viaje</a>
        <a class="item" suiTabHeader="3">Third</a>
    </div>
      <div class="ui bottom attached segment" suiTabContent="1">
      <h1 class="ui header">Welcome to Travel Spain ! - ¡Bienvenido a Travel Spain!</h1>
      <h2 class="ui header">What we Do... - Que hacemos...</h2>

      <div class="ui segment">
        <div class="ui two column very relaxed grid">
          <div class="column">
            <p>Lorem ipsum dolor sit amet, ea nonumy doctus ius. Elitr facilisi
               adolescens nec in. Id eos quidam veritus deterruisset.
                Te enim viderer cum, cum volumus lobortis an.
            </p>
            <p>Et nam virtute omnesque, est ne utinam mandamus. Habeo aliquid
               ea sea, ex reque consul pri, quis porro omnes eum in. Ad
               habemus propriae disputationi sit. Nec duis dicta ne, ex nulla
               corpora mediocrem vim. Eam melius placerat interpretaris ne.
               Pro doctus epicuri in. No sea dico tollit, suas utroque
                pertinax no vix.
            </p>
            <p>Cu sit stet brute causae, mei ferri noster id, vero delenit mel
               cu. Erat primis placerat vim ad, utroque alienum imperdiet cu
                quo. Pri ea falli choro putent, per iisque aperiri legendos
                no. Ad nihil nominavi per. Has cu assum ubique,
                 brute nonumes sea ea.
            </p>
          </div>
        <div class="column">
          <p>Altera commune at vel, no nec eligendi repudiare constituam. Mei
             at solum regione persequeris. Ex purto magna dissentiunt est, no
              regione aperiam periculis has, eum oblique intellegam no. Quo ne
               essent delenit convenire, ad mei partem phaedrum deseruisse,
               animal erroribus nec ei. Ad nobis vocent volumus duo, no has
                dicam appetere, his an principes percipitur.
          </p>
          <p>Sed tota inani facete no. Utroque invidunt ea eos, usu bonorum
             vivendum ad. Corrumpit constituto ei duo. An eos erant latine.
              Mei nostro erroribus in.
          </p>
          <p>Illud debitis nam cu, duo in tamquam tibique epicurei, ignota
             efficiendi per id. In sonet virtute has, ea sint dicta sed.
             Scripta suscipit vix te, euripidis cotidieque vix ei.
              Sed paulo graeci indoctum ut.
          </p>
        </div>
        </div>
        <div class="ui vertical divider">
          <i class="spain flag"></i>
        </div>
      </div>

    </div>
    <div class="ui bottom attached segment" suiTabContent="2">

      <h1 class="ui header">Planning Stage! - ¡Bienvenido a Travel Spain!</h1>
      <h2 class="ui header">How to Begin? - Como empezar?</h2>

      <!-- Tells them how to interact with the map -->
      <div class="ui segment">
        <div class="ui two column very relaxed grid">
          <div class="column">
            <p>Lorem ipsum dolor sit amet, ea nonumy doctus ius. Elitr facilisi
               adolescens nec in. Id eos quidam veritus deterruisset.
                Te enim viderer cum, cum volumus lobortis an.
            </p>
          </div>
        <div class="column">
          <p>Sed tota inani facete no. Utroque invidunt ea eos, usu bonorum
             vivendum ad. Corrumpit constituto ei duo. An eos erant latine.
              Mei nostro erroribus in.
          </p>
        </div>
        </div>
        <div class="ui vertical divider">
          <i class="spain flag"></i>
        </div>
      </div>

      <div>
        <!-- Depending on the button this will be sent to the angular querry that will talk to the express back end -->
        <div class="ui seven item menu">
          <a id="barcelona" class="item" (click)="makeRequest('b')">Barcelona</a>
          <a id="madrid" class="item" (click)="makeRequest('m')">Madrid</a>
          <a id="valencia" class="item" (click)="makeRequest('v')">Valencia</a>
          <a id="southSpain" class="item" (click)="makeRequest('ss')">South Spain</a>
          <a id="northSpain" class="item" (click)="makeRequest('ns')">North Spain</a>
          <a class="item" (click)="clearScreen()">Clear</a>
          <a class="item" (click)="customTripModal()">Create Custom Trip</a>
        </div>
      </div>
      <div id="googleMap" style="width:750px;height:630px;"></div>

    </div>

    <!-- Basic Modal allows them to create a combination of four cities -->
    <div class="ui modal">
      <div class="header">Create Custom Trip</div>
      <div class="ui 4 item menu">
        <a class="item">City 1</a>
        <a class="item">City 2</a>
        <a class="item">City 3</a>
        <a class="item">City 4</a>
      </div>
      <div class="image content">
        <img class="image">
        <div class="description">
          <p></p>
        </div>
      </div>
    </div>

    <!-- Either print the icon or save it as a pdfs -->
    <i class="print icon"></i>
    <i class="file pdf icon"></i>
    <div class="ui bottom attached segment" suiTabContent="3">
      <h1 class="ui header">Currency Conversion - Conversión de Moneda</h1>
      <h2 class="ui header">Choose a currency to convert to euros - Seleccione una moneda para convertir a euros</h2>

      <div>
        <p> Popular Options </p>
        <!-- Depending on the button this will be sent to the angular querry that will talk to the express back end -->

        <!-- When clicked add it to param  -->

        <div class="ui four item menu">
          <a class="item" (click)="setStartingCurrecy('GBP')">British Pound</a>
          <a class="item" (click)="setStartingCurrecy('USD')">American Doller</a>
          <a class="item" (click)="setStartingCurrecy('JPY')">Japanese Yen</a>
          <a class="item" (click)="setStartingCurrecy('CNY')">Chinese Renminbi</a>
        </div>
        <!-- Add drop down for other to do ng repeat for all the values in it  -->
      </div>

      <!-- Add thing for input boxes to convert into euro -->
      <div class="ui segment">

        <div class="ui two column very relaxed grid">
          <!-- todo make inline-->
          <div class="column">
            <div class="currency_conversion_box">
              <div class="ui input">
                <input id="start_currency" type="text" placeholder="ex: GBR...">
              </div>
              <p></p>
              <div class="ui input">
                <input id="start_amount" type="text" placeholder="ex: 12.00">
              </div>
              <div class="ui buttons">
                <!-- TODO make it so that it can increase ever time button is clicked -->
                <button (click)="increase_or_decrease('+')" class="ui icon button">
                  <i class="plus icon"></i>
                </button>
                <div class="or"></div>
                <button (click)="increase_or_decrease('-')" class="ui icon button">
                  <i class="minus icon"></i>
                </button>

              </div>
              <!-- Add handler  -->

              <button (click)="convertToEuros()" class="ui labeled icon button">
                <i class="euro sign icon"></i>
                  Convert
              </button>
              </div>
          </div>
          <!--  -->

            <!-- Give it a class id so that it can be positioned in the center -->
              <div class="column">
                <div class="tag_center">
                  <div class="ui input">
                    <!-- Set to hidden if blank or set to not editable-->
                    <input id="amount_euros" class="tag_center" type="text" placeholder="Amount in Euros...">
                  </div>
                </div>
              </div>
            </div>
        <div class="ui vertical divider">
          in Euros is
        </div>
    </div>
      <!-- Add graph to show performance over the last few days -->

    </div>

</sui-tabset>
